In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [2]:
import pandas as pd
import numpy as np
from tqdm import tqdm
tqdm.pandas()

C:\Users\riori\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\riori\anaconda3\lib\site-packages\numpy\.libs\libopenblas.EL2C6PLE4ZYW3ECEVIV3OXXGRN2NRFM2.gfortran-win_amd64.dll
C:\Users\riori\anaconda3\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [4]:
data_bowlers = pd.read_csv('bowler_level_scorecard.csv')

In [5]:
data_bowlers.head()

,match id,bowler,bowler_id,bowler_details,is_bowler_captain,is_bowler_keeper,inning,runs,wicket_count,balls_bowled,economy,maiden,dots,Fours,Sixes,wides,noballs,match_dt
0,8638034,BV Ss,6718396.0,NZ:Right-hand bat:Right-arm medium-fast:,0.0,0.0,1,21,0,12,10.50,0,3.0,1,1,3,1,2021-01-01
1,8638034,HK Bt,1585464.0,NZ:Left-hand bat:Right-arm medium-fast:,0.0,0.0,1,34,1,24,8.50,0,7.0,3,1,2,0,2021-01-01
2,8638034,JS Nm,2486896.0,NZ:Left-hand bat:Right-arm medium-fast:,0.0,0.0,1,23,2,24,5.75,0,12.0,1,1,0,0,2021-01-01
3,8638034,LV vn Bk,3083667.0,NED:Right-hand bat:Right-arm medium-fast:,0.0,0.0,1,31,1,24,7.75,0,9.0,4,0,2,0,2021-01-01
4,8638034,PF Yd,4950294.0,NZ:Right-hand bat:Legbreak googly:,0.0,0.0,1,21,1,24,5.25,0,8.0,0,0,1,0,2021-01-01

In [7]:
print(len(data_bowlers['bowler_id'].unique()))

1541

In [11]:
bowler_summary = data_bowlers.groupby('bowler_id').agg({
    'runs': 'sum',
    'wicket_count': 'sum',
    'balls_bowled': 'sum',
    'economy': 'mean',
    'maiden': 'sum',
    'dots': 'sum',
    'Fours': 'sum',
    'Sixes': 'sum',
    'wides': 'sum',
    'noballs': 'sum'
}).reset_index()

In [14]:
output_file_path = 'summarized_bowler_data.csv'
bowler_summary.to_csv(output_file_path, index=False)

In [22]:
def calculate_bowler_rating(row):
    # Parameters for weighting the factors
    weights = {
        'runs': -0.01,
        'wicket_count': 3.0,
        'balls_bowled': 0.1,
        'economy': -1.0,
        'maiden': 0.5,
        'dots': 0.1,
        'Fours': -0.2,
        'Sixes': -0.3,
        'wides': -0.5,
        'noballs': -0.5
    }
    
    # Calculate the rating
    rating = (
        row['runs'] * weights['runs'] +
        row['wicket_count'] * weights['wicket_count'] +
        row['balls_bowled'] * weights['balls_bowled'] +
        row['economy'] * weights['economy'] +
        row['maiden'] * weights['maiden'] +
        row['dots'] * weights['dots'] +
        row['Fours'] * weights['Fours'] +
        row['Sixes'] * weights['Sixes'] +
        row['wides'] * weights['wides'] +
        row['noballs'] * weights['noballs']
    )
    

    
    return rating

In [23]:
summarized_bowler_df = pd.read_csv('summarized_bowler_data.csv')

summarized_bowler_df['rating'] = summarized_bowler_df.apply(calculate_bowler_rating, axis=1)

In [25]:
summarized_bowler_df.head()

,bowler_id,runs,wicket_count,balls_bowled,economy,maiden,dots,Fours,Sixes,wides,noballs,rating
0,34061.0,983,29,665,9.371429,0,207.0,80,33,38,1,109.598571
1,37351.0,10,0,6,10.000000,0,0.0,1,0,0,0,-9.700000
2,41740.0,92,5,96,6.818182,0,41.0,5,3,1,0,18.561818
3,49496.0,632,31,582,6.509615,0,203.0,37,16,10,0,141.470385
4,55299.0,1249,57,873,8.623721,2,292.0,113,41,29,2,216.986279